In [1]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
output_path = '/home/habjan.e/TNG/TNG_cluster_dynamics/rockstar/rockstar_subhalos_0.list'

df = pd.read_csv(output_path, sep=r"\s+")

In [6]:
df

,#,id,x,y,z,vx,vy,vz,mass,num_p
0,0,59000000.0,2.958086e+09,43724.558594,48819.710938,147594.703125,291.579529,0.0,38,NaN
1,1,59000000.0,3.510331e+09,43717.691406,48817.628906,147597.265625,-401.295929,0.0,15,NaN
2,2,59000000.0,3.037561e+09,43713.121094,48819.105469,147586.203125,-505.383545,0.0,13,NaN
3,3,59000000.0,3.066923e+09,43716.082031,48818.148438,147598.390625,-452.708191,0.0,11,NaN
4,4,59000000.0,2.925028e+09,43728.777344,48827.003906,147593.375000,-0.421186,0.0,11,NaN
...,...,...,...,...,...,...,...,...,...,...
1383,1383,59000000.0,3.106844e+09,43721.105469,48817.910156,147598.328125,978.414368,0.0,13,NaN
1384,1384,59000000.0,2.976492e+09,43715.160156,48820.000000,147575.781250,999.966125,0.0,15,NaN
1385,1385,59000000.0,3.157395e+09,43713.476562,48821.789062,147594.968750,1075.378540,0.0,11,NaN
1386,1386,59000000.0,2.944266e+09,43725.050781,48813.996094,147590.937500,1207.518188,0.0,11,NaN
1387,1387,59000000.0,3.051677e+09,43717.000000,48811.226562,147593.750000,1147.507568,0.0,24,NaN

In [12]:
((1 / 0.001) * 0.19) / 60, ((1 / 0.005) * 5.65) / 60, ((1 / 0.01) * 12.51) / 60

(3.1666666666666665, 18.833333333333332, 20.85)

In [9]:
1130 / 60

18.833333333333332

In [10]:
1 / 15

0.06666666666666667